**/work/*
**/transcript
**/transcript/*


SmartCargo/Simulation/transcript
SmartCargo/Simulation/simulation_smartcargo/work/_info
SmartCargo/Simulation/simulation_smartcargo/work/_lib.qdb
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_3.qdb
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_3.qpg
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_3.qtl
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_4.qdb
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_4.qpg
SmartCargo/Simulation/simulation_smartcargo/work/_lib1_4.qtl
SmartCargo/Simulation/simulation_serial_automatico/vsim.wlf
SmartCargo/Simulation/simulation_serial_automatico/sim_serial_automatico.cr.mti
SmartCargo/Simulation/simulation_smartcargo/sim_SmartCargo.cr.mti
SmartCargo/Simulation/simulation_smartcargo/vsim.wlf
